*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/img/table.jpg");
  background-size: 100%;
  background-repeat: repeat;
}

button {
  cursor: pointer;
  background-color: yellow;
  font-weight: 700;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
}

#draw-cards {
  display: none;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

#cards {
  display: grid;
}

#cards > img {
  margin: 1em auto;
  width: auto;
  max-height: 40vh;
}

/**
 * Challenge:
 * 
 * Start making this look lots nicer :)
 * 
 * 1. Add a card table background with the img/table.png image provided.
 * 2. Move the draw button to the very bottom of the page, full width
 * 3. Add some button styles. You can use the photo on the slides
 * for one option.
 */
