*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/img/table.jpg");
  background-size: 100%;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  background-color: yellow;
  font-weight: 700;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  padding: 2px;
  margin: 0;
}

.placeholder {
  border: 2px solid black;
  border-radius: 5px;
}

#draw-cards {
  display: none;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

#new-deck {
  align-self: flex-start;
}

#cards {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  margin: 2em;
  padding: 0;
}

#cards > img,
.placeholder {
  padding: 4px;
  height: 28vh;
  width: 20vh;
  margin: 2em auto;
}

/**
 * Challenge:
 * 
 * Start making this look lots nicer :)
 * 
 * 1. Add a card table background with the img/table.png image provided.
 * 2. Move the draw button to the very bottom of the page, full width
 * 3. Add some button styles. You can use the photo on the slides
 * for one option.
 */
